@model MIS4200_Team8.Models.Recognition

@{
    ViewBag.Title = "Delete Recognition";
}

<h2>Delete Recognition Data</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.award)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.award)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recognizor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeGiving.fullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recognized)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeGetting.fullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recognitionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognitionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descritption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descritption)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
                    <div class="alert alert-danger">
            <strong>Danger!</strong> The action of deleting a recognition is irreversible.
        </div>
        </div>
    }
</div>
