@model MIS4200_Team8.Models.Recognition

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recognition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.award)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.award)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recognizor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognizor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recognized)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognized)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recognitionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognitionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descritption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descritption)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.recognitionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
