@model IEnumerable<MIS4200_Team8.Models.Recognition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.award)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognizor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognized)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognitionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descritption)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.award)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.employeeGiving.fullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.employeeGetting.fullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.recognitionDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.descritption)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.recognitionID }) 
        @*@Html.ActionLink("Details", "Details", new { id = item.recognitionID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.recognitionID })*@
    </td>
</tr>
}

</table>
