@model MIS4200_Team8.Models.Profile

@{
    ViewBag.Title = "Employee Details";
}

<h2>Employee Details</h2>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            Business Unit
        </dt>

        <dd>
            @Html.DisplayFor(model => model.businessUnitLocation)
        </dd>

        <dt>
            Hire Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hireDate)
        </dd>

        <dt>
            Job Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobTitleName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.profileID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
